a:link{
    border-color: blueviolet;
    color: brown;
}

a:visited{
    border-color: blue;
    color: blue;
}

a:hover{
    background-color: gold;
}


li:nth-child(4){
    color: red;
    font-weight: bold;
}

.diez-pseudos{
  text-align: center;
}

/* 1) estilo para la pseudo clase :default*/

button:default{
    background-color:#4CAF50;
    color: white;
    font-weight: bold;
}

/*2) estilo para la pseudo clase :disabled*/

input:disabled, button:disabled {
    background-color: #e0e0e0; 
    color: #a0a0a0; 
    border: 1px solid gray; 
    cursor: not-allowed; 
  }

  /*3) estilo para la pseudo clase :last-of-type*/

  section.grupo-contenedor article:last-of-type {
    color: rgb(202, 0, 0);
    font-weight: bold;
}

/*4) estilo para la pseudo clase :focus*/

    input:focus {
        background-color: #e0f7fa; /* Color de fondo azul claro */
        border: 2px solid #00796b; /* Borde verde azulado oscuro */
        outline: none; /* Eliminar el borde predeterminado del navegador */
        box-shadow: 0 0 5px #00796b; /* Sombra alrededor del campo */
  }
 
/*5) estilo para la pseudo clase :has()*/

/*aunque al aplicar el codigo no me resalta solo lo que esta en el atributo :has (), me gustaria saber el por que*/

.contenedor:has(.destacado) {
    background-color: #2fff3a;
     
  }

/*6) estilo para la pseudo clase :invalid*/  
/*estilo para los campos invalidos*/
input:invalid {
    background-color: #ffdddd; 
    border: 1px solid #ff0000; 
  }
  
/* Estilo para los campos válidos (opcional) */
  input:valid {
    background-color: #ddffdd; 
    border: 2px solid #84ff84; 
  }

/*7) estilo para la pseudo clase :buffering*/   
.español:dir(ltr) {
    background-color: #e0f7fa; 
    text-align: left; 
    border-left: 4px solid #00796b;
}
    

.ingles:dir(rtl) {
    background-color: #fff3e0; 
    text-align: right; 
    border-right: 4px solid #f57c00;
}

/*8) estilo para la pseudo clase :lang()*/ 
  
.españolin:lang(es) {
  color: #57114b; 
  border-left: 4px solid #fbc02d; 
}

.ingles:lang(en) {
  color: #ff7070; 
  border-left: 4px solid #1976d2; 
}
 
.frances:lang(fr) {
  color: #19551e; 
  border-left: 4px solid #c2185b; 
}

/*9) estilo para la pseudo clase :is()*/ 

:is(ul, ol, li) {
  font-family: 'Arial', sans-serif;
  color: #333;
  
}

ul {
  list-style-type: square; 
  padding-left: 20px;
}

ol {
  list-style-type: decimal; 
  padding-left: 20px;
}

li {
  margin: 5px 0;
}

:is(ul, ol) li:first-of-type {
  font-weight: bold; 
  color: #007bff; 
}

/*10) estilo para la pseudo clase :in-range*/ 

input[type="number"]:in-range {
  border: 2px solid #4caf50; 
  background-color: #e8f5e9; 
}

input[type="number"]:out-of-range {
  border: 2px solid #f44336; 
  background-color: #ffebee; 
}






  

 
